# The relationship between US interest rates and public debt in developing countries

## Setup of the Workspace

### Packages

In [50]:
import pandas as pd
import os 

from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sqlalchemy'

### Paths

In [38]:
cwd = os.getcwd()

PATH_DATA = os.path.join(cwd, 'data')

## Data

### FRED
contains data on US interest rates

In [37]:
# Download and read the CSV directly into a DataFrame
#df_fred = pd.read_csv("C:/Users/Maude/OneDrive/Documents/etudes/UZH/PhD/2nd year/first semester/programming/project/data/FEDFUNDS.csv")

df_fred = pd.read_csv(os.path.join(PATH_DATA, 'FEDFUNDS.csv')) #.replace('\\', '/'))

df_fred.head()

         DATE  FEDFUNDS
0  1954-07-01      0.80
1  1954-08-01      1.22
2  1954-09-01      1.07
3  1954-10-01      0.85
4  1954-11-01      0.83

### World Bank

contains data on GNI, GNI per capita, population, external debt stock (% of GNI), external debt stock, official exchange rate, currency composition of PPG

In [57]:
df_WB_raw = pd.read_csv(os.path.join(PATH_DATA, 'World_Bank_data.csv')) #.replace('\\', '/'))
df_WB_raw.head()
df_WB_raw.shape

(1601, 68)

In [58]:
df_WB_comp_raw = pd.read_csv(os.path.join(PATH_DATA, 'World_Bank_composition.csv')) #.replace('\\', '/'))
df_WB_comp_raw.shape

(141, 67)

In [60]:
### Append the dataframes

# Append df2 to df1
WB_df = pd.concat([df_WB_raw, df_WB_comp_raw], ignore_index=True)
WB_df.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2023 [YR2023],Counterpart-Area Name,Counterpart-Area Code,2024 [YR2024],2025 [YR2025],2026 [YR2026],2027 [YR2027],2028 [YR2028],2029 [YR2029],2030 [YR2030]
0,Afghanistan,AFG,External debt stocks (% of GNI),DT.DOD.DECT.GN.ZS,..,..,..,..,..,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"External debt stocks, total (DOD, current US$)",DT.DOD.DECT.CD,..,..,..,..,..,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,17.1965606878624,17.1965606878624,17.1965606878624,35.1096447377192,38.6922615476905,38.6922615476905,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,GNI (current US$),NY.GNP.MKTP.CD,548888848.888889,560000022.222222,557777806.666667,766666706.666667,815555562.222222,1026666677.77778,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,..,..,..,..,..,..,...,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN